@import '../cards-grid.css';
@import '../../../styles/linzess/tokens.css';

/* stylelint-disable selector-class-pattern, no-descending-specificity */

.cards-grid {
  --cards-grid-img-text-overlay-bg: rgb(204 204 204 / 80%);
}

.cards-grid.cards-grid-icon-image-card *,
.cards-grid.cards-grid-icon-image-card *::before,
.cards-grid.cards-grid-icon-image-card *::after,
.cards-grid.cards-grid-article-cards *,
.cards-grid.cards-grid-article-cards *::before,
.cards-grid.cards-grid-article-cards *::after {
  box-sizing: border-box;
}


:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) {
  font-family: var(--body-font-family);
  color: var(--linz-grey);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) p {
  margin: 0;
  padding: 0;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) h2,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .heading-2 {
  font-family: var(--body-font-family);
  font-weight: 700;
  font-style: normal;
  font-size: var(--linz-heading2-font-size);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .c-linz-dark-purple,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .linzess-text-purple {
  color: var(--linz-dark-purple);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .c-linz-white,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .c-linz-white a,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .c-linz-white a:visited,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .c-linz-white a:active {
  color: var(--linz-white);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .background-dark-purple {
  background-color: var(--linz-dark-purple);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .background-light-purple {
  background-color: var(--linz-light-purple);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .text-align-center {
  text-align: center;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .margin-top-80 {
  margin-top: var(--spacing-80);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .rounded-corners {
  border-radius: var(--linz-rounded-corner);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .col-2-card {
  padding: 0 var(--spacing-24) var(--spacing-40);
  margin: 0;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) i::before,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) i::after,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .i-b::before,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .i-a::after {
  font-family: abbv-iconFont, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-icon-keyboard_arrow_right.i-b::before,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-icon-keyboard_arrow_right.i-a::after {
  content: '\e315';
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) a,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) a:visited,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) a:active {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) a.i-a {
  padding-right: var(--spacing-26);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) a.i-a::after {
  position: absolute;
  right: 0;
  top: -2px;
  font-size: 21px; /* 1.3rem @ 16px; avoid html 62.5% rem shrink */
  text-decoration: none;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-flex-container-v2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (width >= 986px) {
  :is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-flex-container-v2.flexbox-cards:has(.col-2-card) {
    flex-wrap: nowrap;
  }
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-flex-item-v2 {
  padding: var(--spacing-05);
  margin: var(--spacing-10);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .flexboxitem-v2 {
  flex: 1;
}

/* Clientlib: image-text v2 */
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 .abbv-image-text-content-container-v2 {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 14.4px; /* 0.9rem @ 16px */
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 .abbv-image-text-content-v2 {
  position: unset !important; /* resets absolute positioning injected by the platform image-text v2 component */
  margin: 20px;
  width: 25%;
  background: var(--cards-grid-img-text-overlay-bg);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 .abbv-image-text-display-v2 {
  padding: 20px;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 .abbv-image-text-display-v2 p {
  margin: 0 0 20px;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 .abbv-image-text-content-container-v2.abbv-image-text-out .abbv-image-text-content-v2 {
  margin: 0;
  background: 0;
  width: 100%;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-content-container-v2.abbv-image-text-out {
  position: relative;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 .abbv-image-content-container-v2 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-content-container-v2.abbv-image-text-out .abbv-image-text-content-v2 .abbv-image-text-display-v2 {
  padding: 20px 0;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 .abbv-stretched-card-body {
  flex: 1 1 auto;
  min-height: 1px;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 .abbv-button-primary {
  padding-left: 12px;
}

/* linzess-global: icon cards + flexbox cards */
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .icon-image-card img {
  width: 96px;
  margin-top: -50px;
}

@media (width >= 986px) {
  :is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .icon-image-card img {
    width: 105px;
  }
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .flexbox-cards .flexboxitem-v2 {
  display: flex;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .flexbox-cards .flexboxitem-v2 .abbv-flex-item-v2 {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .flexbox-cards .flexboxitem-v2 .abbv-flex-item-v2:not(:has(.cta)) {
  padding-bottom: 0;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .flexbox-cards:has(.col-2-card) {
  gap: 80px;
}

@media (width >= 986px) {
  :is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .flexbox-cards:has(.col-2-card) {
    gap: 16px;
  }

  :is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .flexbox-cards .flexboxitem-v2 .abbv-flex-item-v2 {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .flexbox-column-mobile {
  flex-direction: column;
  gap: var(--spacing-60);
}

@media (width >= 986px) {
  :is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .flexbox-column-mobile {
    flex-direction: row;
  }
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .cta:has(.text-align-center) {
  text-align: center;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary:visited,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary:visited,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-tertiary,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-tertiary:visited {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: 0;
  border-radius: var(--linz-rounded-corner);
  font-weight: 800;
  font-size: 14.4px; /* 0.9rem @ 16px */
  padding: var(--spacing-16) var(--spacing-40) var(--spacing-16) var(--spacing-24);
  text-decoration: none;
}

@media (width >= 986px) {
  :is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary,
  :is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary,
  :is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-tertiary {
    padding: var(--spacing-16) var(--spacing-56) var(--spacing-16) var(--spacing-32);
    width: auto;
  }
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary.i-b::before,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary.i-b::before,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-tertiary.i-b::before,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-plain.i-b::before {
  top: 12px;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary.i-a,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary.i-a:visited,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary.i-a,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary.i-a:visited,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-tertiary.i-a,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-tertiary.i-a:visited,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-plain.i-a,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-plain.i-a:visited {
  padding-right: 59px;
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary.i-a::after,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary.i-a::after,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-tertiary.i-a::after,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-plain.i-a::after {
  position: absolute;
  right: 10px;
  top: 14px;
  margin-right: 15px;
  font-size: 21px; /* 1.3rem @ 16px */
  text-decoration: none;
}


:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary:visited {
  color: var(--linz-white);
  background: var(--linz-dark-purple);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-primary:hover {
  color: var(--linz-dark-purple);
  background: var(--linz-off-white);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary,
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary:visited {
  color: var(--linz-dark-purple);
  background: var(--linz-white);
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-button-secondary:hover {
  color: var(--linz-dark-purple);
  background: var(--linz-light-purple);
}

/* savings-card-cards — linzess-global */
:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .savings-card-cards .abbv-image-text-content-container-v2.abbv-image-text-out .abbv-image-text-content-v2 .abbv-image-text-display-v2 {
  padding-bottom: 0;
}

@media only screen and (width >= 986px) {
  :is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .savings-card-cards .flexboxitem-v2 .abbv-flex-item-v2 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

:is(.cards-grid.cards-grid-icon-image-card, .cards-grid.cards-grid-article-cards) .abbv-image-text-v2 .abbv-image-text-display-v2 p:not(.heading-2, .eyebrow, .footnote, .tout-overlay) {
  font-size: var(--linz-body-font-size);
}

.cards-grid.cards-grid-article-cards .flexbox-cards.flexbox-article-cards .flexboxitem-v2 .abbv-flex-item-v2 {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.cards-grid.cards-grid-article-cards .flexbox-cards.flexbox-article-cards .abbv-image-text-content-container-v2.abbv-image-text-out {
  padding: 0 16px;
  width: auto;
}

.cards-grid.cards-grid-article-cards .abbv-image-text-v2 a.abbv-button-primary.abbv-image-text-link {
  padding: 0;
  border-radius: 0;
  background: transparent;
  color: var(--linz-dark-purple);
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 12px;
  font-weight: 800;
}

.cards-grid.cards-grid-article-cards .abbv-stretched-card-body p b,
.cards-grid.cards-grid-article-cards .abbv-stretched-card-body p strong {
  font-weight: 700;
}

.cards-grid.cards-grid-article-cards .abbv-image-text-v2 a.abbv-button-primary.abbv-image-text-link:hover {
  color: var(--linz-white);
}

@media (width >= 986px) {
  .cards-grid.cards-grid-article-cards .flexbox-article-cards {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 16px;
  }
}

.cards-grid.cards-grid-article-cards .flexbox-article-cards .flexboxitem-v2 {
  max-width: 300px;
  flex: auto;
}

.cards-grid.cards-grid-article-cards .abbv-image-content-container-v2 img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* stylelint-enable selector-class-pattern, no-descending-specificity */
